<div id="plots_container">
    <app-line-plot #rFactorPlot title="R-Factor" yAxisTitle="R-Factor" [yMin]="0" [yMax]="1"></app-line-plot>
    <app-line-plot #sFactorPlot title="S-Factor" yAxisTitle="S-Factor" [yMin]="0" [yMax]="1"></app-line-plot>
    <app-line-plot #hFactorPlot title="H-Factor" yAxisTitle="H-Factor" [yMin]="0" [yMax]="1"></app-line-plot>
    <app-line-plot #uhFactorPlot title="UH-Factor" yAxisTitle="UH-Factor" [yMin]="0" [yMax]="1"></app-line-plot>
    <app-line-plot #shFactorPlot title="SH-Factor" yAxisTitle="SH-Factor" [yMin]="0" [yMax]="1"></app-line-plot>
</div>